@model WebApplication2.Models.Seria

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/ViewPage1.cshtml";
    int serialid = ViewBag.SerialId;
    int seazonid   = ViewBag.Seazonid;
    string returnUrl=    ViewBag.returnUrl;
}

<h2>Create</h2>
@Styles.Render("~/Content/Edit.css")
@Styles.Render("~/Content/Creat.css")
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.Hidden("serialid",serialid);
    @Html.Hidden("seazonid", seazonid);
    @Html.Hidden("returnUrl", returnUrl);
    <div class="form-horizontal">
        <h4>Seria</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "inp" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "inp" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="enter-btn" />
            <div class="enter-btn">
                @Html.ActionLink("Back to List", "Index","Serials")
            </div>
        </div>
    </div>
}

