@model WebApplication2.Models.Seazon

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@Styles.Render("~/Content/Edit.css")
@Styles.Render("~/Content/Creat.css")
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Seazon</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "inp" } })
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn enter-btn" />
            <div class="enter-btn">
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}


